<script setup lang="ts">
import Message from "primevue/message";
import ProgressSpinner from 'primevue/progressspinner';
import {inject} from "vue";
import {Auth} from "../lib/auth";

const auth: Auth | undefined = inject('auth')

auth?.handleRedirect()
</script>

<template>
	<Message severity="info" icon="pi pi-sign-in" :closable="false">Obtaining access token...</Message>
</template>

<style scoped>

</style>
