<script setup lang="ts">
import {useMutation, useQuery} from '@vue/apollo-composable'
import {useRoute} from 'vue-router'
import {useToast} from 'primevue/usetoast'
import {computed, ref} from 'vue'
import gql from 'graphql-tag'
import DataTable from 'primevue/datatable'
import Column from 'primevue/column'
import Card from 'primevue/card'
import ContextMenu from 'primevue/contextmenu'

import InputText from 'primevue/inputtext';
import Button from 'primevue/button'
import Dialog from 'primevue/dialog'
import Toast from 'primevue/toast'
import MultiSelect from 'primevue/multiselect'
import {Scopes} from '../lib/auth'
import {handleCopyButton} from '../lib/componentHelpers'
import {FilterMatchMode, FilterOperator} from "primevue/api";
import {dateFormat} from "../lib/data";
import Calendar from "primevue/calendar";

const route = useRoute()
const toast = useToast()

const tokensQueryFragment = gql`
	fragment TokensQuery on User {
		tokens {
			id
			scopes
			createdAt
		}
	}
`

const tokensQuery = gql`
	query tokens($self: Boolean!, $userID: ID!) {
		self @include(if: $self) {
			...TokensQuery
		}
		user(id: $userID) @skip(if: $self)  {
			...TokensQuery
		}
	}
	${tokensQueryFragment}
`

const q = useQuery(tokensQuery, () => {
	return {
		userID: route.params.id || '00000000-0000-0000-0000-000000000000',
		self: !route.params.id,
	}
})

const {mutate: deleteToken} = useMutation(gql`
  mutation deleteToken($id: ID!) {
    deleteToken(id: $id)
  }
`, () => ({
	update: (cache, {data: {deleteToken}}) => {
		let data = cache.readQuery({query: tokensQuery, variables: q.variables.value}) as any
		let userRef = q.variables.value?.self ? 'self' : 'user'
		let oldObject = data[userRef].tokens.find((t: { id: string }) => t.id === deleteToken)
		let id = cache.identify(oldObject)
		cache.evict({id: id})
		cache.gc()
	},
}))

const {mutate: createToken, onError: createOnError} = useMutation(gql`
  mutation createToken($input: TokenInput!) {
    createToken(input: $input) {
			id
			scopes
			createdAt
    	token
    }
  }
`, () => ({
	update: (cache, {data: {createToken}}) => {
		let data = cache.readQuery({query: tokensQuery, variables: q.variables.value}) as any
		let userRef = q.variables.value?.self ? 'self' : 'user'
		data = {
			...data,
			[userRef]: {
				...data[userRef],
				tokens: [
					...data[userRef].tokens,
					createToken
				]
			}
		}
		cache.writeQuery({query: tokensQuery, variables: q.variables.value, data})
		createdToken.value = createToken
	},
}))

const tokens = computed(() => {
	let tokensRaw
	if (!route.params.id) {
		tokensRaw = q.result?.value?.self?.tokens
	} else {
		tokensRaw = q.result?.value?.user?.tokens
	}

	return (tokensRaw || []).map((file: { createdAt: string }) => {
		return {...file, createdAt: new Date(file.createdAt)}
	})
})

const err = computed(() => {
	return q.error.value
})

const filters = ref()

const initFilters = () => {
	filters.value = {
		id: {operator: FilterOperator.AND, constraints: [{value: null, matchMode: FilterMatchMode.CONTAINS}]},
		scopes: {operator: FilterOperator.AND, constraints: [{value: null, matchMode: FilterMatchMode.CONTAINS}]},
		createdAt: {operator: FilterOperator.AND, constraints: [{value: null, matchMode: FilterMatchMode.DATE_IS}]},
	}
}
initFilters()

const selectedToken = ref()
const cm = ref()
const menuModel = ref([
	{
		label: 'Delete', icon: 'pi pi-fw pi-trash', command: () => {
			deleteToken({id: selectedToken.value.id})
		}
	},
]);

const onRowContextMenu = (event: any) => {
	cm.value.show(event.originalEvent);
}

const createDialogVisible = ref()
const createScopesOptions = Object.values(Scopes)
const createSelectedScopes = ref()
const createdToken = ref()

const createSubmit = () => {
	createToken({input: {scopes: createSelectedScopes.value || []}})
}
const createCancel = () => {
	createDialogVisible.value = false
	createSelectedScopes.value = []
	createdToken.value = null
}
createOnError(error => {
	console.error(error)
	createCancel()
	toast.add({severity: 'error', summary: 'Failed to create token', detail: error})
})

</script>

<template>
	<Toast/>
	<Card>
		<template #content>
			<p v-if="!!err">{{ err }}</p><!--TODO error handling-->
			<template v-else>
				<ContextMenu ref="cm" :model="menuModel"/>
				<DataTable
					class="p-datatable-sm"
					:value="tokens"
					sortMode="multiple"
					:multiSortMeta="[{field: 'createdAt', order: -1}]"
					dataKey="id"
					v-model:contextMenuSelection="selectedToken"
					contextMenu
					@rowContextmenu="onRowContextMenu"
					:loading="q.loading.value"
					paginator
					:rows="50"
					:rowsPerPageOptions="[10, 25, 50, 100, 250, 500, 1000]"
					v-model:filters="filters"
					filterDisplay="menu"
				>
					<template #header>
						<div class="flex gap-2">
							<Button label="Reload" icon="pi pi-refresh"
											@click="q.refetch()"></Button>
							<Button v-if="!route.params.id" label="Create" icon="pi pi-plus"
											@click="createDialogVisible = true"></Button>
							<Button label="Clear" icon="pi pi-filter"
											@click="initFilters()"></Button>
						</div>
					</template>
					<Column field="id" sortable header="ID">
						<template #filter="{ filterModel }">
							<InputText v-model="filterModel.value" type="text" class="p-column-filter" placeholder="Search by ID"/>
						</template>
					</Column>
					<Column field="scopes" sortable header="Scopes">
						<template #body="slotProps">
							{{ slotProps.data?.scopes?.join(', ') }}
						</template>
						<template #filter="{ filterModel }">
							<InputText v-model="filterModel.value" type="text" class="p-column-filter"
												 placeholder="Search by scopes"/>
						</template>
					</Column>
					<Column field="createdAt" dataType="date" sortable header="Date">
						<template #body="slotProps">
							{{ dateFormat(slotProps.data.createdAt) }}
						</template>
						<template #filter="{ filterModel }">
							<Calendar v-model="filterModel.value" dateFormat="yy-mm-dd" placeholder="YYYY-MM-DD" mask="9999-99-99"/>
						</template>
					</Column>
				</DataTable>
			</template>
		</template>
	</Card>
	<Dialog
		modal
		:header="!createdToken ? 'Create token' : 'Created token'"
		v-model:visible="createDialogVisible"
		class="w-full md:w-30rem"
	>
		<MultiSelect v-if="!createdToken" placeholder="Scopes" :options="createScopesOptions"
								 v-model="createSelectedScopes"
								 display="chip" class="w-full"></MultiSelect>
		<template v-else>
			<span class="flex flex-row w-full justify-content-center">
				<InputText aria-label="Token" type="text" readonly :value="createdToken.token" class="mr-2"></InputText>
				<Button icon="pi pi-copy" aria-label="Copy" @click="handleCopyButton(createdToken.token, $event)"/>
			</span>
		</template>
		<template #footer>
			<Button v-if="!createdToken" label="Create" icon="pi pi-check" severity="success"
							@click="createSubmit()"></Button>
			<Button :label="!createdToken ? 'Cancel' : 'Close'" icon="pi pi-times" severity="danger"
							@click="createCancel()"></Button>
		</template>
	</Dialog>
</template>

<style scoped>
.monospace {
	font-family: monospace;
}
</style>
