<script setup lang="ts">
import {useMutation, useQuery} from '@vue/apollo-composable'
import {useRouter} from 'vue-router'
import {computed, ref} from 'vue'
import gql from "graphql-tag"
import DataTable from 'primevue/datatable'
import Column from 'primevue/column'
import Card from 'primevue/card'
import ContextMenu from 'primevue/contextmenu'
import prettyBytes from 'pretty-bytes'
import Button from "primevue/button";
import {FilterMatchMode, FilterOperator} from "primevue/api";
import InputText from "primevue/inputtext";
import InputNumber from "primevue/inputnumber";
import Calendar from "primevue/calendar";
import {dateFormat} from "../lib/data";

const router = useRouter()

const usersQuery = gql`
	query users {
	  users {
	  	id
	  	preferredUsername
			createdAt
			usedStorage
	  }
}
`

const q = useQuery(usersQuery)

const {mutate: deleteUser} = useMutation(gql`
  mutation deleteUser($id: ID!) {
    deleteUser(id: $id)
  }
`, () => ({
	update: (cache, {data: {deleteUser}}) => {
		let data = cache.readQuery({query: usersQuery, variables: q.variables.value}) as any
		let oldObject = data.users.find((t: { id: string }) => t.id === deleteUser)
		let id = cache.identify(oldObject)
		cache.evict({id: id})
		cache.gc()
	},
}))

const users = computed(() => {
	let usersRaw = q.result?.value?.users
	return (usersRaw || []).map((file: { createdAt: string }) => {
		return {...file, createdAt: new Date(file.createdAt)}
	})
})

const err = computed(() => {
	return q.error.value
})

const filters = ref()

const initFilters = () => {
	filters.value = {
		preferredUsername: {
			operator: FilterOperator.AND,
			constraints: [{value: null, matchMode: FilterMatchMode.CONTAINS}]
		},
		usedStorage: {
			operator: FilterOperator.AND,
			constraints: [{value: null, matchMode: FilterMatchMode.GREATER_THAN_OR_EQUAL_TO}, {
				value: null,
				matchMode: FilterMatchMode.LESS_THAN_OR_EQUAL_TO
			}]
		},
		createdAt: {operator: FilterOperator.AND, constraints: [{value: null, matchMode: FilterMatchMode.DATE_IS}]},
	}
}
initFilters()

const selectedUser = ref()
const cm = ref()
const menuModel = ref([
	{
		label: 'Files', icon: 'pi pi-fw pi-folder', command: () => {
			router.push({name: 'user-files', params: {id: selectedUser.value.id}})
		}
	},
	{
		label: 'Tokens', icon: 'pi pi-fw pi-key', command: () => {
			router.push({name: 'user-tokens', params: {id: selectedUser.value.id}})
		}
	},
	{
		label: 'Delete', icon: 'pi pi-fw pi-trash', command: () => {
			deleteUser({id: selectedUser.value.id})
		}
	},
])

const onRowContextMenu = (event: any) => {
	cm.value.show(event.originalEvent);
}

const getFileURL = ({publicID, extension}: { publicID: string, extension: string }) => {
	let url = '/' + publicID
	if (!!extension) {
		url += '.' + extension
	}
	return url
}
</script>

<template>
	<Card>
		<template #content>
			<p v-if="!!err">{{ err }}</p><!--TODO error handling-->
			<template v-else>
				<ContextMenu ref="cm" :model="menuModel"/>
				<DataTable
					class="p-datatable-sm"
					:value="users"
					sortMode="multiple"
					:multiSortMeta="[{field: 'preferredUsername', order: -1}]"
					dataKey="id"
					v-model:contextMenuSelection="selectedUser"
					contextMenu
					@rowContextmenu="onRowContextMenu"
					:loading="q.loading.value"
					paginator
					:rows="50"
					:rowsPerPageOptions="[10, 25, 50, 100, 250, 500, 1000]"
					v-model:filters="filters"
					filterDisplay="menu"
				>
					<template #header>
						<div class="flex gap-2">
							<Button label="Reload" icon="pi pi-refresh"
											@click="q.refetch()"></Button>
							<Button label="Clear" icon="pi pi-filter"
											@click="initFilters()"></Button>
						</div>
					</template>
					<Column field="preferredUsername" sortable header="Name">
						<template #filter="{ filterModel }">
							<InputText v-model="filterModel.value" type="text" class="p-column-filter" placeholder="Search by name"/>
						</template>
					</Column>
					<Column field="usedStorage" dataType="numeric" sortable header="Used Storage">
						<template #body="slotProps">
							<router-link :to="{name: 'user-files', params: {id: slotProps.data.id}}">
								{{ prettyBytes(slotProps.data.usedStorage, {locale: true}) }}
							</router-link>
						</template>
						<template #filter="{ filterModel }">
							<InputNumber v-model="filterModel.value" placeholder="Used storage in bytes"/>
						</template>
					</Column>
					<Column field="createdAt" dataType="date" sortable header="Date">
						<template #body="slotProps">
							{{ dateFormat(slotProps.data.createdAt) }}
						</template>
						<template #filter="{ filterModel }">
							<Calendar v-model="filterModel.value" dateFormat="yy-mm-dd" placeholder="YYYY-MM-DD" mask="9999-99-99"/>
						</template>
					</Column>
				</DataTable>
			</template>
		</template>
	</Card>
</template>

<style scoped>

</style>
