<script setup lang="ts">
import {inject, onBeforeMount} from 'vue'
import {useConfirm} from 'primevue/useconfirm'
import {useToast} from 'primevue/usetoast'
import {Auth} from "./lib/auth";

const auth: Auth | undefined = inject('auth')

const confirm = useConfirm();
const toast = useToast();

// TODO apply token scopes to UI, hide elements

const sidebarItems = [
	{icon: 'pi-folder', color: 'indigo-500', text: 'Files', route: {name: 'files'}},
	{icon: 'pi-key', color: 'pink-400', text: 'Tokens', route: {name: 'tokens'}},
	{icon: 'pi-users', color: 'teal-600', text: 'Users', route: {name: 'users'}},
	{icon: 'pi-sign-out', color: 'red-600', text: 'Logout', action: auth?.logout},
]

onBeforeMount(async () => {
})

</script>

<template>
	<div class="min-h-screen flex relative lg:static surface-ground">
		<div id="app-sidebar"
				 class="surface-section h-screen hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 border-right-1 surface-border select-none"
				 style="width: 250px">
			<div class="flex flex-column h-full">
				<!--<div class="flex align-items-center px-5 flex-shrink-0" style="height: 60px">-->
				<!--<img src="images/blocks/logos/hyper-700.svg" alt="Image" height="30"/>-->
				<!--</div>-->
				<div class="overflow-y-auto">
					<ul class="list-none p-3 m-0">
						<li v-for="item in sidebarItems">
							<router-link v-if="!!item.route" v-ripple
													 class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors p-ripple no-underline"
													 style="border-radius: 12px"
													 :active-class="`text-${ item.color }`"
													 :to="item.route">
								<i :class="`pi ${ item.icon } mr-2 text-${ item.color }`"></i>
								<span class="font-medium">{{ item.text }}</span>
							</router-link>
							<a v-else v-ripple
								class="flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors p-ripple no-underline"
								style="border-radius: 12px"
								@click="item.action"
							>
								<i :class="`pi ${ item.icon } mr-2 text-${ item.color }`"></i>
								<span class="font-medium">{{ item.text }}</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="min-h-screen flex flex-column relative flex-auto">
			<div
				class="flex justify-content-between align-items-center px-5 surface-0 border-bottom-1 surface-border relative lg:static lg:hidden"
				style="height: 60px">
				<a
					v-ripple
					class="cursor-pointer block text-700 mr-3 mt-1 p-ripple"
					v-styleclass="{ selector: '#app-sidebar', enterClass: 'hidden', enterActiveClass: 'fadeinleft', leaveToClass: 'hidden', leaveActiveClass: 'fadeoutleft', hideOnOutsideClick: true }"
				>
					<i class="pi pi-bars text-4xl"></i>
				</a>
			</div>
			<div class="p-5 flex flex-column flex-auto">
				<router-view></router-view>
			</div>
		</div>
	</div>
</template>

<style scoped>

</style>
